{% extends 'common/base.html' %}

{% block title %}Vesta | Videos{% endblock %}

{% block css %}
<style type="text/css">
  .indicator{
    display: none;
  }
</style>
{% endblock %}


{% block tabs %}
<div class="col l7 offset-l3 m9 s11" style="padding: 0; margin-bottom: 45px;">
  <ul class="tabs tabs-fixed-width">
    <li class="tab col s3">
      <a href="javascript:void(0)">Videos</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="col s12">
  <div class="container" style="margin-top: 10px;">
    <div class="row">
      {% for m in media %}
        <div class="col s12 m6">
          <video controls preload="metadata" style="width: 100%">
            <source src="{{m}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block post_loader_js %}{% endblock %}