{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<style type="text/css">
    html{
        color: white
    }
</style>

<div class="container">
    <h3>Password Reset</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="flow-text">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="margin-top: 6px" class="btn waves-effect waves-light grey darken-3" type="submit">Reset My Password</button>
    </form>

    <p class="flow-text">Please <a href="{% url 'feedback' %}"> contact</a> us if you have any trouble resetting your password.</p>
    <a style="font-size: 20px; font-weight: 300" href="/">&raquo;Home</a>
</div>

{% endblock %}
