{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h2 style="color: white; font-weight: 300;">{% trans "Verify Your E-mail Address" %}</h2>

    <h5 style="color: white; font-weight: 300;">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h5>

{% endblock %}
