{% extends 'common/base.html' %}
{% load customer_tags %}
{% load staticfiles %}


{% block title %}Vesta | Select type{% endblock %}

{% block css %}
<style type="text/css">
	.error input{
		border-bottom: 1px solid red !important;
	}
	.error input:focus{
		box-shadow: 0 1px 0 0 red !important;
	}
	.error input:focus+label{
		color: red !important;
	}
	.error label{
		color: red;
	}
	.indicator{
		display: none;
	}
	.primary-option{
		margin-bottom: 10px;
	}
	.primary-option>div{
		display: none;
	}
	small{
		display: block;
	}
	small#second{
		display: none;
	}
</style>
{% endblock %}


{% block sidebar %}
<li><a href="{% url 'logout' %}">Logout<i class="material-icons">power_settings_new</i></a></li>
{% endblock %}

{% block tabs %}
<div class="col l7 offset-l3 m9 s11" style="padding: 0; margin-bottom: 45px;">
  <ul class="tabs tabs-fixed-width">
    <li class="tab col s3">
      <a href="javascript:void(0)">Select type</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="col s12">
	<div class="container" style="margin-top: 10px;">
		<form method="POST" enctype="multipart/form-data">{% csrf_token %}
			{% for error in form.non_field_errors %}
				<div class="col s12"><p style="color:red">{{error}}</p></div>
			{% endfor %}

			<div class="input-field col s12 {% if form.email.errors %}error{% endif %}" {% if request.user.email %}style="display:none"{% endif %}>
				<input id="id_email" maxlength="60" name="email" type="text" value="{{request.user.email}}" required />
				<label for="id_email">E-mail</label>
			</div>
			{% for error in form.email.errors %}
				<div class="col s12"><p style="color:red;margin:0px;position:relative;top:-15px">{{error}}</p></div>
			{% endfor %}

			<div class="input-field col s12 {% if form.name.errors %}error{% endif %}">
				<input id="id_name" maxlength="60" name="name" type="text" value="{{request.user.get_full_name}}" required />
				<label for="id_name">Full name</label>
			</div>
			{% for error in form.name.errors %}
				<div class="col s12"><p style="color:red;margin:0px;position:relative;top:-15px">{{error}}</p></div>
			{% endfor %}

			<label for="id_dp">Upload dp : </label>
			<input type="file" name="dp" id="id_dp">

			<h5>Type of user <span style="font-size: 60%">( required ) :</span></h5>
			<small id="first">( This step is permanent so choose carefully. If you have filled something wrong, just refresh the page. )</small>
			<small id="second">( This information is optional. You can also add/edit it later in the settings. )</small>
			<div class="input-field col s12" style="padding: 0; margin: 0;">
				<div class="primary-option" id="one">
					<input name="type_of_user" type="radio" id="doctor" value="doctor" required />
					<label for="doctor">Doctor</label>
					<div class="row">
						<h6 style="margin-top: 20px;">Choose your degree(s)</h6>
						{% for choice in degree_choices %}
							<div class="col s12 m4" style="margin-bottom: 10px">
								<input type="checkbox" class="filled-in" id="degree-{{choice.0}}" name="degrees" value="{{choice.0}}">
								<label for="degree-{{choice.0}}">{{choice.1}}</label>
							</div>
						{% endfor %}
					</div>
					<div class="row">
						<h6>Choose your specialities</h6>
						{% for choice in speciality_choices %}
							<div class="col s12 m4" style="margin-bottom: 10px">
								<input type="checkbox" class="filled-in" id="speciality-{{choice.0}}" name="specialities" value="{{choice.0}}">
								<label for="speciality-{{choice.0}}">{{choice.1}}</label>
							</div>
						{% endfor %}
					</div>
					<div class="row">
						<h6>What is your experience (in years) ?</h6>
						<div class="input-field col s12">
							<input type="number" id="id_y" min="0" max="50" name="experience" value="0">
							<label for="id_y">years</label>
						</div>
					</div>
				</div>
				<div class="primary-option" id="two">
					<input name="type_of_user" type="radio" id="student" value="student" />
					<label for="student">Medical student</label>
					<div class="row">
						<h6 style="margin-top: 20px;">Choose your degree(s)</h6>
						{% for choice in degree_choices %}
							<div class="col s12 m4" style="margin-bottom: 10px">
								<input type="checkbox" class="filled-in" id="student-degree-{{choice.0}}" name="student_degrees" value="{{choice.0}}">
								<label for="student-degree-{{choice.0}}">{{choice.1}}</label>
							</div>
						{% endfor %}
						<div class="col s12"></div>
						<div class="input-field col s6">
							<input type="text" id="id_university" name="university">
							<label for="id_university">Your current university</label>
						</div>
					</div>
				</div>
				<div class="primary-option" id="three">
					<input name="type_of_user" type="radio" id="fitness_enthusiast" value="fitness_enthusiast" />
					<label for="fitness_enthusiast">Fitness enthusiast</label>
					<div class="row">
						<h6 style="margin-top: 20px;">Choose your interests</h6>
						{% for choice in interest_choices %}
							<div class="col s12 m4" style="margin-bottom: 10px">
								<input type="checkbox" class="filled-in" id="interests-{{choice.0}}" name="interests" value="{{choice.0}}">
								<label for="interests-{{choice.0}}">{{choice.1}}</label>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="primary-option" id="four">
					<input name="type_of_user" type="radio" id="patient" value="patient" />
					<label for="patient">Patient</label>
					<div class="row">
						<h6 style="margin-top: 20px;">What are you suffering from ?</h6>
						{% for choice in disease_choices %}
							<div class="col s12 m4" style="margin-bottom: 10px">
								<input type="checkbox" class="filled-in" id="disease-{{choice.0}}" name="diseases" value="{{choice.0}}">
								<label for="disease-{{choice.0}}">{{choice.1}}</label>
							</div>
						{% endfor %}
					</div>
				</div>
				{% for error in form.type_of_user.errors %}
					<p style="color:red;">{{error}}</p>
				{% endfor %}
			</div>
			<button style="margin: 30px 10px 0" class="btn waves-effect waves-light grey darken-3" type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
{% block post_loader_js %}{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
		$('#one>input').focus(function(){
			$('#two').slideUp();
			$('#three').slideUp();
			$('#four').slideUp();
			$('#one>div').slideDown();
			$('small#first').slideUp();
			$('small#second').slideDown();
		})
		$('#two>input').focus(function(){
			$('#one').slideUp();
			$('#three').slideUp();
			$('#four').slideUp();
			$('#two>div').slideDown();
			$('small#first').slideUp();
			$('small#second').slideDown();
		})
		$('#three>input').focus(function(){
			$('#one').slideUp();
			$('#two').slideUp();
			$('#four').slideUp();
			$('#three>div').slideDown();
			$('small#first').slideUp();
			$('small#second').slideDown();
		})
		$('#four>input').focus(function(){
			$('#one').slideUp();
			$('#two').slideUp();
			$('#three').slideUp();
			$('#four>div').slideDown();
			$('small#first').slideUp();
			$('small#second').slideDown();
		})
	});
</script>
{% endblock %}